# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [8]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

data = pd.read_clipboard(sep="|").set_index("user_id")

### Step 4. See the first 25 entries

In [15]:
data.iloc[0:2]

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043

### Step 5. See the last 10 entries

### Step 6. What is the number of observations in the dataset?

### Step 7. What is the number of columns in the dataset?

### Step 8. Print the name of all the columns.

### Step 9. How is the dataset indexed?

In [16]:
data.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [17]:
data.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

### Step 12. How many different occupations are in this dataset?

In [18]:
data.occupation.nunique()

21

### Step 13. What is the most frequent occupation?

In [22]:
data["count"] = 1
data.groupby("occupation").sum().sort_values("count", ascending=False).head(1)

,age,gender,zip_code,count
occupation,,,,
student,4328,MMFMFMFFMMMMMMMMMMMMMMMMFMMFMMFFFMFMFFFMMMMMFM...,0100255436787412751093117551057611155105805216...,196

### Step 14. Summarize the DataFrame.

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
 4   count       943 non-null    int64
dtypes: int64(2), object(3)
memory usage: 76.5+ KB

### Step 15. Summarize all the columns

### Step 16. Summarize only the occupation column

### Step 17. What is the mean age of users?

In [25]:
data.age.mean()

np.float64(34.05196182396607)

### Step 18. What is the age with least occurrence?

In [32]:
data.age.value_counts().sort_values().head(10)

age
73    1
7     1
10    1
11    1
66    1
69    2
64    2
68    2
62    2
61    3
Name: count, dtype: int64